{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}

<style>
    .Training-Container{
        width: 90vw;
        height: 80vh;
        background-color: #D8D8D8;
        border-radius: 5px;
        margin: auto;
    }
    .Trainees{
        width: 90vw;
        height: 70vh;
    }
    .Training-Container-Header label{
        width: 45vw;
        text-align: center;
        font-size: 3vh
    }
    
    .Training-Container-Header > *{
        float: left;
    }
</style>

<div class="example-wrapper">
    <div class="Training-Container">
        <div class="Training-Container-Header">
        
            <label>Training</label>
            
            <form class="d-flex" role="search">

                <a type="button" class="btn btn-outline-primary" href="/training/add">Add</a>

                
                <input class="form-control me-2" type="search" placeholder="Search CID" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
        <div class="Trainees"></div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>

{% endblock %}
