{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block link %}  {% endblock %}

{% block body %}


<style>

</style>

<div class="example-wrapper">
    
</div>


{% endblock %}
